name: CI_Pipeline
on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code # Corrected 'Chechout code' to 'Checkout code'
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Install dependencies
        run: npm install
      - name: Run tests # Minor correction/standardization: 'run tests' to 'Run tests'
        run: npm test
